* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
}

header {
    background-image: url("images/Slide\ Background.svg");
    background-repeat: no-repeat;
    background-size: 85vw;
    padding-top: 2.8vw;
}

.site-header {
    display: flex;
    align-items: center;
    width: 78.7vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
}


.nav-menu {
    display: flex;
    align-items: center;
    padding-top: 0.75vh;
    padding-left: 10.6vw;
    padding-bottom: 3vh;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 2.35em;
}


.nav-menu a {
    text-decoration: none;
    font-size: 0.85em;
    color: #8B8B8B;
    font-weight: 500;
    letter-spacing: 0.13em;
    line-height: 2;
}

.nav-menu a.active {
    font-weight: 600;
    color: #414880;
}


.btn {
    background-color: #FF64AE;
    color: white;
    font-weight: 600;
    padding: 1.05em 2.9em;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.13em;
    text-align: center;
}

.contact-btn {
    margin-left: auto;
    margin-top: -3vh;
}


.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-btn {
    margin-top: 7em;
    margin-left: 0em;
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.left-btn, .right-btn {
    background-color: #EEEEEE;
    border-radius: 50px;
    width: 1em;
    height: 0.2em;
}

.mid-btn {
    background-color: #414880;
    border-radius: 50px;
    width: 1.4em;
    height: 0.45em;;
}

.main-slider {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-left: 13vw;
}

.slider-left {
    flex-basis: 1;
    padding-top: 15.1vh;
    display: flex;
    flex-direction: column;
}

.slider-right {
    flex-basis: 2;
    padding-top: 7.8em;
    padding-right: 18.1em;
}

.slider-right img {
    width: 142%;
    height: auto;
}


.slider-left h1 {
    font-size: 2.5em;
    letter-spacing: 0.048em;
    line-height: 1.3;
    font-weight: 600;
    color: #091156;
}

.slider-left p {
    width: 95%;
    padding-top: 0.5em;
    font-size: 0.9em;
    line-height: 1.5;
    letter-spacing: 0.09em;
    color: #091156;
    font-weight: 500;
}

.slider-left .btn {
    margin-top: 2.4em;
    width: 40.5%;
}

.core-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19.5vh;
    padding-top: 18vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.center-title {
    text-align: center;
    width: 65%;
}

.center-title h2 {
    font-size: 0.9em;
    font-weight: 600;
    color: #FF64AE;
}

.center-title h3 {
    font-size: 2em;
    line-height: 1.2;
    font-weight: 600;
    color: #091156;
    padding: 0.25em;
}

.center-title p {
    margin-left: -6.4em;
    padding-top: 0.75em;
    width: 130%;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.5;
    font-weight: 400;
    color: #8B8B8B;
    letter-spacing: 0.12em;
}

.box-selection {
    margin-top: -7.7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.7vw;
}

.box-item {
    width: 23.7vw;
    box-shadow: 0px 4px 10px rgba(214, 188, 247, 0.3);
    border-radius: 35px;
    padding: 1em;
    text-align: center;
}

.box-item img {
    /* padding-top: 5.8vh;
    padding-left: 1.3vh; */
    padding-top: 5.5vh;
    align-content: center;
    width: 54%;
    height: auto;
    padding-bottom: 8.1vh;
}

.box-item h4 {
    font-size: 1em;
    font-weight: 600;
    line-height: 0.5;
    text-align: center;
    color: #091156;
    padding-bottom: 4vh;
}

.box-item p {
    padding-left: 3.4vh;
    padding-right: 3vh;
    font-size: 0.78em;
    line-height: 1.45;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 400;
    color: #8B8B8B;
    padding-bottom: 7.2vh;
}


.about-us {
    display: flex;
    padding-left: 10.3vw;
    padding-right: 5vw;
    margin-top: 7.2vh;
}

.aboutus-left {
    padding-top: 11.1vh;
}

.aboutus-left p {
    width: 82%;
}


.left-title {
    text-align: left;
}

.left-title h2 {
    font-size: 0.85em;
    letter-spacing: 0.04em;
    font-weight: 600;
    color: #FF64AE;
}

.left-title h3 {
    padding-top: 2vh;
    font-size: 1.9em;
    letter-spacing: 0.03em;
    line-height: 1.2;
    font-weight: 600;
    color: #091156;
}

.left-title p {
    padding-top: 2.6vh;
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: 400;
    color: #8B8B8B;
    letter-spacing: 0.085em
}


.more {
    padding-top: 7.4vh;
    display: flex;
    align-items: center;
    gap:2.95vw;
}

.more-btn .btn {
    padding: 2.4vh 3.5vw;
}

.watch-video {
    display: flex; 
    align-items: center; 
    gap: 0.8rem; 
    padding-top: 0.9vh;
}

.watch-video img {
    width: 25.5%;
}


.watch-video span {
    font-size: 0.85em;
    font-weight: 600;
    color: #8B8B8B; 
    letter-spacing: 0.12em;
    line-height: 24px;
}


.aboutus-right img {
    margin-top: 7vh;
    width: 43vw;
    border-radius: 50px;
}

.professional-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8.6vh;
    gap: 19.5vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.box2-selection {
    margin-top: -3.4vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* border: 2px solid black; */
}

.box2-item {
    width: 29vw;
    border-radius: 35px;
    padding-top: 6vh;
    text-align: center;
    /* border: 2px solid black; */
}

.box2-item img {
    padding-top: 5.5vh;
    align-content: center;
    width: 35%;
    height: auto;
    padding-bottom: 6.5vh;
}

.box2-item h3 {
    font-size: 0.85em;
    font-weight: 700;
    text-align: center;
    color: #FF64AE;
    letter-spacing: 0.06em;
    padding-bottom: 2.8vh;
}

.box2-item h4 {
    font-size: 1em;
    font-weight: 600;
    line-height: 0.5;
    text-align: center;
    color: #091156;
    padding-bottom: 3.6vh;
}

.box2-item p {
    padding-left: 3.7vw;
    padding-right: 3.7vw;
    font-size: 0.78em;
    line-height: 1.45;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 400;
    color: #8B8B8B;
    padding-bottom: 0.8vh;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    gap: 0.5vw;
    padding-bottom: 2vh;
}

.social-media img {
    width: 26%;
}

.box2-item:first-child {
    padding-left: 2.2vw;
    padding-top: 6.4vh;
} 

.box2-item:first-child img {
    width: 37%;
}

.box2-item:first-child .social-media {
    width: 53%;
}

.box2-item:nth-child(3) {
    padding-right: 2vw;
    padding-top: 6.4vh;
} 

.box2-item:nth-child(3) img {
    width: 37%;
}

.box2-item:nth-child(3) .social-media {
    width: 53%;
}

.box2-item:nth-child(2) {
    box-shadow: 0px 4px 10px rgba(214, 188, 247, 0.3);
}


.professional-teams .center-title p {
    margin-top: 0.34vh;
    margin-left: -6.7vw;
}




/* Contact Us */
.contact-us {
    display: flex;
    flex-direction: column;
    padding-top: 21.9vh;
}

.contact-us .left-title {
    width: 90%;
    padding-left: 52.8vw;
}

.contact-us .left-title h3 {
    width: 80%;
}


.container {
    padding-top: 7vh;
    display: flex;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.left-section {
    width: 54.5%;
    margin-top: -7.8vh;
    padding-left: 0.5vw;
    /* border: 2px solid black; */
}

.left-section img {
    width: 85%;
}

.right-section {
    width: 44.5%;
    display: flex;
    flex-direction: column;
    gap: 5.5vh;
    /* border: 2px solid black; */
}

.name {
    width: 100%;
    display: flex;
    gap: 2.5vw;
}

.name input {
    width: 100%;
}

input {
    padding: 1.2em;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.15em;
}

input::placeholder {
    color: #C5C5C5;
}

textarea::placeholder {
    color: #C5C5C5;
}


.send-btn {
    padding-top: 3.9vh;
    padding-left: 52.9vw;
}

.send-btn .btn {
    font-size: 0.88em;
    padding: 1.1em 3.3em;
}

textarea {
    height: 41%;
    resize: none;
    padding-top: 1.2em;
    padding-left: 1.1em;
    font-size: 1.3em;
    font-weight: 400;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    color: #C5C5C5;
}

/* Footer */
footer {
    margin-top: 10vh;
    padding-top: 35.5vh;
    padding-left: 10.3vw;
    background: url(images/Footer\ BG.png) no-repeat  bottom;
    background-size: contain;
    width: 98.7vw;
    height: 100vh;
    color: #fff;
    position: relative;
    z-index: 2;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 30px; */
}

.sidebar1 > p {
    padding-top: 3.4vh;
    padding-left: 2.2vw;
    font-weight: 700;
    font-size: 0.86em;
    letter-spacing: 0.12em;
    color: #D7DBFF;
}

.sidebar1 > p span {
    font-weight: 400;
}

address > p {
    padding-top: 3.2vh;
    padding-left: 2.2vw;
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: 0.135em;
    font-style: italic;
}

.phone-mail {
    padding-top: 0.8vh;
    padding-left: 2.2vw;
    display: flex;
    gap: 3.1vw;
    color: #D7DBFF;
}

.phone {
    font-size: 0.78em;
    letter-spacing: 0.1em;
    font-style: italic;
    font-weight: 500;
}

.mail {
    font-size: 0.78em;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-decoration: underline;
}

.sidebar2 {
    padding-left: 10.6vw;
    padding-right: 3.7vw;
}

.sidebar2 h4 {
    font-size: 0.9em;
    letter-spacing: 0.15em;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 3vh;
}

.sidebar2 ul {
    list-style: none;
    padding: 0;
}

.sidebar2 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.sidebar2 ul li img {
    margin-right: 10px;
}

.sidebar2 ul li span {
    font-size: 0.88em;
    color: #D7DBFF;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.totop-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    margin-right: 4.5vw;
}

.totop-btn img {
    width: 2.8%;
    background: #FF64AE;
    border-radius: 5px;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7vh;
}

.social-media-footer {
    display: flex;
    gap: 2.8vw;
}

.social-media-footer img {
    cursor: pointer;
}

.copyright p {
    padding-right: 9vw;
    font-size: 0.85em;
    color: #D7DBFF;
    align-items: right;
    letter-spacing: 0.15em;
    font-weight: 400;
}

.bgbottom {
    background-color: #0D165C;
    position: relative;
    z-index: 1;
    height: 20vh;
    margin-top: -20vh;
}

/* Điện thoại */ 
@media (max-width: 480px) {
    body {
        font-size: 1em;
    }
    .site-header {
        flex-direction: column;
        gap: 4vh;
    }
    .nav-menu {
        flex-direction: column;
    }
    .main-slider {
        flex-direction: column;
    }
    .slider-right {
        padding-top: 10vh;
    }
    .slider-right img {
        width: 250%;
    }
    
    .center-title {
        width: 100vw;
    }
    
    
    .center-title p {
        margin-left: -1vw;
        padding-left: 20vw;
        padding-right: -50vw;
        width: 80%;
    }
    
    .box-selection {
        flex-direction: column;
    }

    .box-item {
        width: 60vw;
    }

    .about-us {
        flex-direction: column;
    }

    .aboutus-right img{
        margin-top: 0vh;
        width: 80vw;
    }

    .professional-teams .center-title p {
        margin-left: -1vw;
    }

    .box2-selection {
        flex-direction: column;
        align-items: center;
    }

    .box2-item {
        width: 60vw;
    }

    .contact-us .left-title {
        padding-left: 15vw;
    }

    .container {
        flex-direction: column;
    }

    .right-section {
        width: 80vw;

    }

    .send-btn {
        padding-top: 15vh;
        padding-left:  40vw;
    }

    .sidebar {
        flex-direction: column;
    }
    footer {
        width: 105vw;
        height: 200vh;
        background-size: cover;
    }

    .phone-mail {
        padding-bottom: 10vh;
    }
    .bottom {
        flex-direction: column;
        gap: 3vh;

    }
    .totop-btn img {
        width: 6vw;
    }

}

/* Máy tính bảng đứng */ 
@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 1.1em;
    }
    .site-header {
        flex-direction: column;
        gap: 4vh;
    }
    .nav-menu {
        flex-direction: column;
    }
    .main-slider {
        flex-direction: column;
    }
    .slider-right {
        padding-top: 5vh;
    }
    .slider-right img {
        width: 150%;
    }

    .slider-left {
        font-size: 0.8em;
    }
    
    .center-title {
        width: 100vw;
    }
    
    
    .center-title p {
        margin-left: -1vw;
        padding-left: 20vw;
        padding-right: -50vw;
        width: 80%;
    }
    
    .box-selection {
        flex-direction: column;
    }

    .box-item {
        width: 60vw;
    }

    .about-us {
        flex-direction: column;
    }

    .aboutus-right img{
        margin-top: 0vh;
        width: 80vw;
    }

    .professional-teams .center-title p {
        margin-left: -1vw;
    }

    .box2-selection {
        flex-direction: column;
        align-items: center;
    }

    .box2-item {
        width: 60vw;
    }

    .contact-us .left-title {
        padding-left: 15vw;
    }

    .container {
        flex-direction: column;
    }

    .right-section {
        width: 80vw;

    }

    .send-btn {
        padding-top: 15vh;
        padding-left:  40vw;
    }

    .sidebar {
        flex-direction: column;
    }
    footer {
        width: 100vw;
        height: 200vh;
        background-size: cover;
    }

    .phone-mail {
        padding-bottom: 10vh;
    }
    .bottom {
        flex-direction: column;
        gap: 3vh;

    }
    .totop-btn img {
        width: 6vw;
    }
}

/* Máy tính bảng ngang */ 
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 1.4em;
    }
    .site-header {
        flex-direction: column;
        gap: 4vh;
    }
    .nav-menu {
        flex-direction: column;
    }
    .main-slider {
        flex-direction: column;
    }
    .slider-right {
        padding-top: 5vh;
    }
    .slider-right img {
        width: 150%;
    }

    .slider-left {
        font-size: 0.8em;
    }
    
    .center-title {
        width: 100vw;
    }
    
    
    .center-title p {
        margin-left: -1vw;
        padding-left: 20vw;
        padding-right: -50vw;
        width: 80%;
    }
    
    .box-selection {
        flex-direction: column;
    }

    .box-item {
        width: 60vw;
    }

    .about-us {
        flex-direction: column;
    }

    .aboutus-right img{
        margin-top: 0vh;
        width: 80vw;
    }

    .professional-teams .center-title p {
        margin-left: -1vw;
    }

    .box2-selection {
        flex-direction: column;
        align-items: center;
    }

    .box2-item {
        width: 60vw;
    }

    .contact-us .left-title {
        padding-left: 15vw;
    }

    .container {
        flex-direction: column;
    }

    .right-section {
        width: 80vw;

    }

    .send-btn {
        padding-top: 15vh;
        padding-left:  40vw;
    }

    .sidebar {
        flex-direction: column;
    }
    footer {
        width: 100vw;
        height: 200vh;
        background-size: cover;
    }

    .phone-mail {
        padding-bottom: 10vh;
    }
    .bottom {
        flex-direction: column;
        gap: 3vh;

    }
    .totop-btn img {
        width: 6vw;
    }
}

@media (min-width: 1281px) {
    body {
        font-size: 1.5em;
    }
    footer {
        height: 110vh;
        width: 110vw;
        background-size: cover;
    }
}